html, body {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content{
  flex: 1;
}

.main-header{
  background: #3498db;
  text-align: center;
  color: white;
  }

  .main-header nav{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

.main-footer{
  background: #2c3e50;
  padding: 20px;
  text-align: center;
  color: white;
}