.add-wallpaper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 20px;
    align-items: center;

}

.overlay-content button {
    background-color: #b80c0c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

.overlay-content button:hover {
    background-color: #a60505;
    transform: scale(1.05);
}

.add-wallpaper-from{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.add-wallpaper-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.add-wallpaper-form-group label {
    margin-bottom: 10px;
    font-weight: bold;
}

.add-wallpaper-form-group input[type="text"]{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.add-wallpaper-form-group textarea{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    resize: vertical;
    overflow-y: scroll;
    resize: none;
}

.file-upload {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
}

.file-upload input[type="file"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.file-upload label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #888;
    /* Gris medio */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #666;
    transition: background 0.2s ease-in-out;
}

.file-upload label:hover {
    background-color: #777;
}

.file-upload label:active {
    background-color: #555;
}

.add-wallpaper-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#add-wallpaper-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}
